.marker-icon-div {
  border:0;
  background: transparent;
  text-align: center;
}
.marker-bike-counter {
  font-weight: bold;
  font-size: large;
  background: palevioletred;
  border-radius: 10px;
  padding: 1.5px;
}
.marker-icon-img
{
    margin-bottom: -8px;
}
.control-div{
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    background: #ffffffad;
    width: 30%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 100px;
    padding: 10px!important;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
